# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Application specific files
venv
node_modules
bower_components
.sass-cache
tmp
_site
assets/img
assets/images
assets/fonts
Gemfile.lock
aws.json
*.yml
_includes/google_analytics.html
Gruntfile.old.js
*.swp
*.swo
