        <footer>
          <div class="row">
            <div class="large-12 columns">{% if page.home %}{% else %}
              <a href="/"><i class="fi-previous size-24 back">Back</i></a>{% endif %}
              <ul class="inline-list">
                <li class="social">
                  <a href="http://twitter.com/theneutral_zone" title="twitter.com/theneutral_zone"><i class="twitter fi-social-twitter size-48"></i></a>
                </li>
                <li class="social">
                  <a href="http://instagram.com/theneutral_zone" title="instagram.com/theneutral.zone"><i class="instagram fi-social-instagram size-48"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
